@import "vars";
@import "vendor/reset.scss";

html {
  font-size: 62.5%;
}

body {
  background-color: #181818;
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue",
    "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1.4rem;
  line-height: 1.5;
  color: $white;
}

*,
*:before,
*::after {
  box-sizing: border-box;
}

/* Blocks */
@import "blocks/page/page.scss";
@import "blocks/header/header.scss";
@import "blocks/nav/nav.scss";
@import "blocks/subnav/subnav.scss";
@import "blocks/search/search.scss";
@import "blocks/sidebar/sidebar.scss";
@import "blocks/profile/profile.scss";
@import "blocks/social/social.scss";
@import "blocks/main/main.scss";
@import "blocks/container/container.scss";
@import "blocks/btn/btn.scss";
