@import "../../vars";

.subnav {
  display: none;

  width: 16.5rem;

  background-color: $blue;

  position: absolute;
  top: 100%;
  left: 0%;
}

.subnav__link {
  display: block;
  padding: 0.45rem 1.2rem;
  font-size: 1.2rem;
  color: $white;
  text-decoration: none;

  &:hover {
    background-color: darken($blue, 5%);
  }
}
